@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900 &family=Roboto:ital, wght@0, 100;0, 300;0, 400;0, 500;0, 700;0, 900;1, 500;1, 700;1, 900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Sans;
  font-family: Poppins;
}

body {
  overflow-x: hidden;
}

.collab {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  background-repeat: no-repeat;
}
.collab header {
  height: 1024px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  display: flex;
}
.collab header .container {
  display: flex;
  flex-direction: column;
}
.collab header .container nav {
  display: flex;
  gap: 386px;
}
.collab header .container nav .navbar {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}
.collab header .container nav .navbar .navbar::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 2px;
  width: 0;
  border-radius: 2px;
  margin: 0 auto;
  background: #5956e9;
  transition: width 0.25s;
}
.collab header .container nav .navbar .navbar:hover:before {
  width: 100%;
}
.collab header .container nav .navbar .main {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 59px;
}
.collab header .container nav .navbar .main .img {
  display: flex;
  gap: 11px;
}
.collab header .container nav .navbar .main .img h2 {
  display: flex;
  text-align: center;
  align-items: center;
}
.collab header .container nav .navbar .main .img h2 a {
  color: #292930;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.collab header .container nav .navbar .main .img h2 a span {
  color: #5956E9;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 97.827%;
}
.collab header .container nav .navbar .main a {
  text-decoration: none;
}
.collab header .container nav .navbar .mains {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 55px;
}
.collab header .container nav .navbar .mains a {
  text-decoration: none;
}
.collab header .container nav .navbar .mains ul {
  color: #999FAE;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.collab header .container nav .navbar .mains .explore {
  display: flex;
  gap: 14px;
}
.collab header .container nav .icon {
  display: flex;
  gap: 40px;
  text-align: center;
  align-items: center;
}
.collab header .container nav .icon button {
  flex-shrink: 0;
  border-radius: 20px;
  background: #FAB8C4;
  padding: 24px 47px;
  border: none;
}
.collab header .container nav .icon button a {
  text-decoration: none;
}
.collab header .container nav .icon a {
  display: flex;
  gap: 100px;
}
.collab header .container .hero {
  display: flex;
  align-items: start;
  justify-content: start;
}
.collab header .container .hero .like {
  width: 643px;
  padding-top: 117px;
}
.collab header .container .hero .like .w4 h4 {
  color: #292930;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.327%;
  padding-left: 90px;
}
.collab header .container .hero .like .w4 h4 span {
  color: #5956E9;
  font-family: DM Sans;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.327%;
  letter-spacing: -2.4px;
}
.collab header .container .hero .like .w4 p {
  width: 420px;
  padding-top: 24px;
  color: var(--text-grey, #999FAE);
  padding-left: 100px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.collab header .container .hero .like .botton {
  display: flex;
  padding-left: 100px;
  padding-top: 40px;
  text-align: center;
  align-items: center;
  gap: 24px;
}
.collab header .container .hero .like .botton .w3 button {
  width: 178px;
  height: 82px;
  top: 719px;
  left: 201px;
  padding: 29px, 46px, 29px, 46px;
  border-radius: 20px;
  gap: 10px;
  background: #5956E9;
  border: none;
}
.collab header .container .hero .like .botton .w3 button a {
  color: white;
  text-decoration: none;
}
.collab header .container .hero .like .botton .w2 {
  display: flex;
}
.collab header .container .hero .like .botton .w2 span {
  color: #999FAE;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}
.collab header .container .hero .like .scroll {
  display: flex;
  padding-left: 100px;
  padding-top: 100px;
  gap: 16px;
  text-align: center;
  align-items: center;
}
.collab header .container .hero .like .scroll p {
  color: #999FAE;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.collab header .container .hero .mask {
  padding-top: 85px;
  margin-left: 100px;
  position: relative;
}
.collab header .container .hero .mask .r2 {
  margin-left: 468px;
  margin-top: -597px;
  position: absolute;
}
.collab header .container .hero .mask .r3 {
  transform: translateY(-300px);
}
.collab header .container .hero .mask .r4 {
  transform: translateY(-105px);
  margin-left: 340px;
}
.collab header .container .hero .mask .r5 {
  transform: translateY(-150px);
  margin-left: 180px;
}
.collab header .orqafon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.collab header .orqafon .f1 {
  position: absolute;
  top: -189px;
  left: -189px;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  background: #FFDC60;
}
.collab header .orqafon .f2 {
  position: absolute;
  width: 1220px;
  height: 1220px;
  top: -98px;
  left: 870px;
  flex-shrink: 0;
  border-radius: 1220px;
  background: var(--color-primary, #5956E9);
}
.collab header .orqafon .f3 {
  position: absolute;
  width: 140px;
  height: 130px;
  flex-shrink: 0;
  top: 205px;
  left: 700px;
  border-radius: 50%;
  background: #FFDC60;
}
.collab header .orqafon .f4 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 451px;
  left: 130px;
  border-radius: 50%;
  background: #FAB8C4;
}
.collab header .orqafon .f5 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 739px;
  left: 712px;
  border-radius: 50%;
  background: #5956E9;
}
.collab header .orqafon .f6 {
  position: absolute;
  width: 180px;
  height: 180px;
  top: 934px;
  left: 791px;
  border-radius: 50%;
  background: #FAB8C4;
}

@media screen and (width: 1250px) {
  .collab {
    zoom: 0.9;
  }
  .collab .icon a {
    display: none;
  }
}
@media screen and (width: 1024px) {
  .collab {
    zoom: 0.8;
  }
  .collab .icon button {
    display: none;
  }
  .collab .orqafon .f3 {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */